.container {
	text-align: center;
}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

input {
	margin-right: 3px;
	margin-bottom: 10px;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.images {
	text-align: center;
}

.img-holder {
	position: relative;
	display: inline-block;
	width: 180px;
	height: 180px;
	padding: 10px;
	margin: 5px;
	background-color: #666;
}

.img-holder img {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 180px;
	max-width: 180px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
}

.modal img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
